@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --orange: #FEA301;
    --white: #F7F7F7;
    --sky-blue: #01ACFD;
    --black: #111111;
}

* {
    margin: 0;
    padding: 0;
}

.quicksand-normal-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* common styles */

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--white);
}

nav {
    padding: 1rem 8rem 0 8rem;
}

section {
    padding: 0 8rem 0 8rem;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hamburger-menu {
    display: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.25rem;
    gap: 2rem;
    font-weight: 500;
}

.menu-list a {
    text-decoration: none;
}

.nav-home {
    font-weight: 700;
    color: var(--orange);
}

.nav-about {
    color: var(--sky-blue);
}

.nav-facilities {
    color: #05D4DF;
}

.nav-admission {
    color: #5D58EF;
}

.contact-btn {
    background-color: var(--orange);
    color: #fff;
    padding: 1rem 4rem;
    border-radius: 12px;
    font-weight: 500;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}


/* banner section styles */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 3rem;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-title .empowering {
    color: var(--orange);
}

.banner-title .students {
    color: var(--black);
}

.banner-title .vision {
    color: var(--sky-blue);
}

.banner-desc {
    font-size: 1.25rem;
    color: var(--black);
}

.enroll-btn {
    font-size: 1.25rem;
    color: var(--white);
    background-color: var(--black);
    padding: 10px 48px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}


.banner-img img {
    width: 100%;
    color: white;
}

/* curriculum styles */

.curriculum-section {
    background: url("assets/bg.png");
    /*background-size: 120% 120%;*/
    background-repeat: no-repeat;
    /*background-position: top left;*/
    /*background-color: #01ACFD;*/
}

.curriculum-cards {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
    margin-top: 80px;
    margin-bottom: 80px;
}

.curriculum-card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 34px;
    padding: 55px 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.curriculum-card:nth-child(1) {
    background: linear-gradient(to bottom, #DEF5FF, white 40%);
    border: 1px solid #DEF5FF;
}

.curriculum-card:nth-child(1) a {
    font-weight: 700;
    color: #64C8FF;
}

.curriculum-card:nth-child(2) {
    background: linear-gradient(to bottom, #FFF4DC, white 40%);
    border: 1px solid #FFF4DC;
}

.curriculum-card:nth-child(2) a {
    font-weight: 700;
    color: #F0AA00;
}

.curriculum-card:nth-child(3) {
    background: linear-gradient(to bottom, #EEE1FF, white 40%);
    border: 1px solid #FFF4DC;
}

.curriculum-card:nth-child(3) a {
    font-weight: 700;
    color: #8700FF;
}

.curriculum-card img {
    width: 100%;
}

.curriculum-section .card-title {
    font-size: 1.5rem;
    color: var(--black);
}

.curriculum-section .card-desc {
    font-size: 1rem;
    color: #808080;
}

.curriculum-section .card-read-more-link a {
    text-decoration: none;
}

.curriculum-btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    padding-bottom: 60px;
}

.curriculum-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--orange);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

/* our stories designs */

.our-stories-section {
    background: url("assets/bg.png");
    background-repeat: no-repeat;
}

/* small screen designs */


@media screen and (max-width: 576px) {

    nav, section {
        padding: 0.5rem 1rem;
    }

    nav {
        border-bottom: 1px solid var(--orange);
    }

    .logo-text,
    .menu-list,
    .contact-container {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 2rem;
    }

    .hero-section {
        flex-direction: column-reverse;
        gap: 16px;
        font-size: 1rem;
    }

    .banner-content {
        align-items: center;
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-desc br {
        display: none;
    }

    .curriculum-cards {
        flex-direction: column;
        gap: 1rem;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .curriculum-btn-container {
        display: none;
    }
}